<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="top_10_chart_all">
<script th:inline="javascript">
/*<![CDATA[*/
  var world_top_10Data = JSON.parse([[${chartData}]]);
  var countryNames = [];
  var newDeathsData = [];

  $.each(world_top_10Data, function(i, data){
    countryNames.push(data.country);
    newDeathsData.push(data.newDeaths);
  })

  document.addEventListener('DOMContentLoaded', function () {
        var myChart = Highcharts.chart('world_top_10', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Top 10 Countries by New Deaths'
            },
            xAxis: {
                categories: countryNames
            },
            yAxis: {
            },
            series: [{
                name: 'New Deaths',
                data: newDeathsData,
                color:'#a94442'
            }]
        });
    });
    /*]]>*/
</script>
  <div id="world_top_10" style="width:100%; height:400px;"></div>
</div>