<div xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="footer" style="border-top:1px gray solid">

    <div class="container p-3 my-3 bg-dark text-white" style="color:#9d9d9d;background-color:none">
      <div>
        <h3>About | <a href="mailto:blackpawsys@gmail.com">Contact Us</a></h3>
        <div class="row">

        </div>
        <p>
          This site contains historic statistics information gathered from "Johns Hopkins Whiting School of Engineering".
          The accuracy of the data is not guaranteed and no responsibility will be taken of the data.
          The data will be automatically collected and stored in our separated database.
        </p>
        Created & designed by <a href="mailto:blackpawsys@gmail.com">Pohodhika Bopage</a>
      </div>
    </div>

  </div>
</div>

</html>